<?xml version='1.0' encoding='utf-8'?>
<Context>
    <Resource name="jdbc/wheaten_doc_1" type="javax.sql.DataSource"
          maxActive="20" maxIdle="5" maxWait="10000"
          username="root" password=""
          driverClassName="com.mysql.jdbc.Driver"
          defaultTransactionIsolation="READ_COMMITTED"
          url="jdbc:mysql://localhost/wheaten_one_document" />
</Context>